body {
    margin: 0%;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    color:  #66BFBF;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;
}
h2 {font-size: 2.5rem;
    color:  #66BFBF;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;

}
h3 {color: #11999E;
    font-family: "Montserrat", sans-serif;
}
.top-section {
    background-color: #EAF6F6;
    position: relative;
    padding: 100px;

}
.foot-link {
    color: #11999E;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

hr {
    border: none;
    border-top: dotted;
    border-width: 5px;
    width: 5%;
    border-color: #EAF6F6;
}
.profession {
    color: #40514E;
}

.bottom-section {
    background-color: #66BFBF;
    height: 200px;
    line-height: 2;
    margin-top: 30px;

   
}
.rights {
    color: #EAF6F6;
}
.pro {
    text-decoration: underline;
}
.top-image {
    position: absolute;
    right: 200px;
    top: 60px;
    width: 100px;
    height: 100px;
}
.bottom-image {
    position: absolute;
    left: 200px;
    bottom: 410px;
    width: 100px;
    height: 100px;
}
.mountain-img {
    width: 500px;
    height: 350px;
    
}
.dev {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.Salesforce {
    width: 25%;
    float: right;
    margin-left: 30px;
}
.button {
    border: none;
    background-color: #11999E;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 10px 2px;
  cursor: pointer;
}
